body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #333;
    color: #fff;
}

.header h1 {
    margin: 0;
    font-size: 2em;
}

.input-section {
    position: absolute;
    top: 15vh;
    width: 25%;
    left: 80px; 
}

.output-section {
    position: absolute;
    top: 35vh;
    width: 50%;
    right: 100px; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 50px;
}

input[type="number"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 97%;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #ffffcc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffcc00;
}

#statusOutput {
    border: 1px solid #ccc;
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}